[submodule "pkgs/imgui/pkgs/imgui"]
	path = pkgs/imgui/pkgs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "pkgs/glfw/pkgs/glfw"]
	path = pkgs/glfw/pkgs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "pkgs/zig-opengl"]
	path = pkgs/zig-opengl
	url = https://github.com/MasterQ32/zig-opengl.git
[submodule "pkgs/nanovg/pkgs/picovg"]
	path = pkgs/nanovg/pkgs/picovg
	url = git@github.com:ousttrue/picovg.git
[submodule "pkgs/imnodes/pkgs/imnodes"]
	path = pkgs/imnodes/pkgs/imnodes
	url = https://github.com/Nelarius/imnodes.git
